# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.venv*
.idea*
.venv/
.idea/
*.log
*scribble*
*settings.json
__pycache__/
database/
*test.*
config.json